{% extends "layout.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
        Emergency department
    </div>
    <div class="card-body">
      <h5 class="card-title">About us</h5>
      <p class="card-text">Our Emergency department has been providing the quickest care and treatment for the sickest in our community since 2015 ,If you have any problem contact us through the button  </p>
      <a href="http://127.0.0.1:5000/contact" class="btn btn-primary">Contact</a>
    </div>
  </div>
{% endblock content %}