{% extends "layout.html" %}
{% block content %}

<a href="http://127.0.0.1:5000/addDoctor">Add doctor</a> 
<a href="http://127.0.0.1:5000/viewDoctors">View doctors</a> 
<a href="http://127.0.0.1:5000/addPatient">Add patient</a> 
<a href="http://127.0.0.1:5000/viewPatients">View patients</a>
<a href="http://127.0.0.1:5000/removeDoctor">Remove doctor</a> 
<a href="http://127.0.0.1:5000/removePatient">Remove patient</a>  
<a href="http://127.0.0.1:5000/relate">Relate patient to doctor</a> 
<a href="http://127.0.0.1:5000/viewRelation">view list of patient and its doctor</a>  
<a href="http://127.0.0.1:5000/recoveredPatient">Recover patient</a> 
<a href="http://127.0.0.1:5000/viewRecovered">View recovered patients</a>  
<a href="http://127.0.0.1:5000/terminate">Delete recovered patient</a>

{% endblock content %}