{% extends "layout.html" %}
{% block content %}   
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <a href="http://127.0.0.1:5000/yourDoctor" class="btn btn-primary">View your doctor</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <a href="http://127.0.0.1:5000/available" class="btn btn-primary">View department doctors</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="http://127.0.0.1:5000/typeP" class="btn btn-primary">Enter your Data</a>
        </div>
      </div>
    </div>
  </div>  
  

{% endblock content %}