{% extends "layout.html" %}
{% block content %}  
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Patient name</th>
      <th scope="col">Patient ID</th>
      <th scope="col">Report</th>
    </tr>
  </thead>
  <tbody>
    {% for data in patientH %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{data.0}}</td>
      <td>{{data.3}}</td>
      <td>{{data.4}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>  
<a href="http://127.0.0.1:5000/doctor">Back</a> 


{% endblock content %}