{% extends "layout.html" %}
{% block content %}   
<h1>Welcome this is you informations page !</h1>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View your doctor</h5>
          <a href="http://127.0.0.1:5000/yourDoctor" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Department doctors</h5>
          <a href="http://127.0.0.1:5000/available" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">What are you suffer from</h5>
          <a href="http://127.0.0.1:5000/typeP" class="btn btn-primary">Enter your Data</a>
        </div>
      </div>
    </div>
  </div>  
  
  <a href="http://127.0.0.1:5000/home">Back</a>    

{% endblock content %}