{% extends "layout.html" %}
{% block content %}   
<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Doctor name</th>
        <th scope="col">Doctor ID</th>
        <th scope="col">Patient name</th>
        <th scope="col">Patient ID</th>
        <th scope="col">Appointment time</th>
      </tr>
    </thead>
    <tbody>
      {% for data in viewR %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{data.0}}</td>
        <td>{{data.1}}</td>
        <td>{{data.2}}</td>
        <td>{{data.3}}</td>
        <td>{{data.4}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<a href="http://127.0.0.1:5000/admin">Back</a> 


{% endblock content %}