{% extends "layout.html" %}
{% block content %} 
<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Patient username</th>
        <th scope="col">Patient ID</th>
        <th scope="col">Recovered time</th>
      </tr>
    </thead>
    <tbody>
      {% for data in vRec %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{data.0}}</td>
        <td>{{data.1}}</td>
        <td>{{data.2}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>   
<a href="http://127.0.0.1:5000/admin">Back</a> 


{% endblock content %}